body {
    background-color: rgb(80, 76, 80);
}

#slider {
    margin: 0 auto;
    text-align: center;
}

.image {
    display: flex;
}

#slides article {
    width: 25%;
}

#slides img {
    width: 100%;
    height: 50vh;
}

#slides p {
    margin-top: 5%;
    width: 90%;
    color: rgb(233, 236, 89);
    text-align: left;
    font-size: 1.4rem;
}

#slides .image {
    width: 400%;
    line-height: 0;
}

#overflow {
    width: 100%;
    overflow: hidden;
}

article img {
    width: 100%;
    border-radius: 15px;
}

#desktop:checked~#slider {
    max-width: 900px;
}

label,
a {
    cursor: pointer;
    width: 50px;
}

.wrapper input {
    display: none;
}

#switch1:checked~#slides .image {
    margin-left: 0;
}

#switch2:checked~#slides .image {
    margin-left: -100%;
}

#switch3:checked~#slides .image {
    margin-left: -200%;
}

#switch4:checked~#slides .image {
    margin-left: -300%;
}

#switch5:checked~#slides .image {
    margin-left: -400%;
}

#controls {
    margin: -25% 0 0 0;
    width: 100%;
    height: 50px;
}

#active label {
    border-radius: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: rgb(233, 236, 89);
}

#active {
    margin: 16% 0 0;
    text-align: right;
}

#active label:hover {
    background: #fff;
    border-color: rgb(228, 235, 137) !important;
}

#switch1:checked~#active label:nth-child(1),
#switch2:checked~#active label:nth-child(2),
#switch3:checked~#active label:nth-child(3),
#switch4:checked~#active label:nth-child(4) {
    background: rgb(166, 238, 132);
    border: 2px solid #fff;
    width: 15px;
    height: 15px;
}

#slides .image {
    transition: all 800ms cubic-bezier(0.750, 0.000, 0.175, 1.000);
}

#switch3:checked~#slides .image {
    margin-left: -200%;
}

#switch4:checked~#slides .image {
    margin-left: -300%;
}

#switch5:checked~#slides .image {
    margin-left: -400%;
}

#controls {
    margin: -25% 0 0 0;
    width: 100%;
    height: 50px;
}

#active label {
    border-radius: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: rgb(233, 236, 89);
}

#active {
    margin: 16% 0 0;
    text-align: right;
}

#active label:hover {
    background: #fff;
    border-color: rgb(228, 235, 137) !important;
}

#switch1:checked~#active label:nth-child(1),
#switch2:checked~#active label:nth-child(2),
#switch3:checked~#active label:nth-child(3),
#switch4:checked~#active label:nth-child(4) {
    background: rgb(166, 238, 132);
    border: 2px solid #fff;
    width: 15px;
    height: 15px;
}

@media (max-width: 767px) {
    #slides p {
        font-size: 1rem;
    }
}

@media (max-width: 320px) {
    #slides p {
        width: 100%;
        text-align: center;
        font-size: 0.8rem;
        margin-top: 20%;
        text-align: left;
    }
    #active label {
        width: 13px;
        height: 13px;
    }
    #switch1:checked~#active label:nth-child(1),
    #switch2:checked~#active label:nth-child(2),
    #switch3:checked~#active label:nth-child(3),
    #switch4:checked~#active label:nth-child(4) {
        border: 2px solid #fff;
        background: black;
        width: 9px;
        height: 9px;
    }
    #active {
        text-align: center;
        margin: -9% 0 0;
    }
}

@media (max-width: 767px) {
    #slides p {
        font-size: 1rem;
    }
}

@media (max-width: 320px) {
    #slides img {
        width: 100%;
        height: 40vh;
    }
    #slides p {
        width: 100%;
        text-align: center;
        font-size: 0.8rem;
        margin-top: 20%;
        text-align: left;
    }
    #active label {
        width: 13px;
        height: 13px;
    }
    #switch1:checked~#active label:nth-child(1),
    #switch2:checked~#active label:nth-child(2),
    #switch3:checked~#active label:nth-child(3),
    #switch4:checked~#active label:nth-child(4) {
        border: 2px solid #fff;
        background: black;
        width: 9px;
        height: 9px;
    }
    #active {
        text-align: center;
        margin: -9% 0 0;
    }
}

#slides .image {
    transition: all 800ms cubic-bezier(0.750, 0.000, 0.175, 1.000);
}

#desktop:checked~#slider {
    max-width: 900px;
}

label,
a {
    cursor: pointer;
    width: 50px;
}

.wrapper input {
    display: none;
}

#switch1:checked~#slides .image {
    margin-left: 0;
}

#switch2:checked~#slides .image {
    margin-left: -100%;
}